In [4]:
import pandas as pd
import pymysql

In [25]:
# Import CSV
data = pd.read_csv ('epilobee.csv', sep = ';')  
df = pd.DataFrame(data)

In [26]:
df.head()

,ID_api,Seasonal_mortality,Age,Activity,Beekeep_for,Qualif,Training,Coop_treat,Bee_population_size,Country,...,Environment,VarroosisV2,ChronicParalysisV2,AmericanFoulbroodV2,NosemosisV2,EuropeanFoulbroodV2,Migration,Merger,Winter_Mortality_Class,Program
0,1000_A,0,4___Over 65,Part_time,2___2-5 years,No,Yes,Yes,1___Less than 51 colonies,LATVIA,...,Diverse,Not_Suffering,Not_Suffering,Not_Suffering,Not_Suffering,Not_Suffering,No,No,5__21 - 50 %,First Year
1,1003_A,0,4___Over 65,Hobby,3___More than 5 years,No,Yes,Yes,1___Less than 51 colonies,LATVIA,...,Diverse,Not_Suffering,Not_Suffering,Not_Suffering,Not_Suffering,Not_Suffering,No,No,5__21 - 50 %,First Year
2,1004_A,0,1___Less than 30,Part_time,1___Less than 2 years,No,No,No,2___51 - 100,GREECE,...,Farmland,Not_Suffering,Not_Suffering,Not_Suffering,Not_Suffering,Not_Suffering,No,No,1__No Mortality,First Year
3,1006_A,0,4___Over 65,Hobby,3___More than 5 years,No,No,Yes,1___Less than 51 colonies,SLOVAKIA,...,Diverse,Not_Suffering,Not_Suffering,Not_Suffering,Not_Suffering,Not_Suffering,No,No,1__No Mortality,First Year
4,1007_A,0,4___Over 65,Hobby,2___2-5 years,No,No,Yes,1___Less than 51 colonies,SLOVAKIA,...,Wood,Not_Suffering,Not_Suffering,Not_Suffering,Not_Suffering,Not_Suffering,No,No,5__21 - 50 %,First Year

In [27]:
#mettre au bon format
mapping = {
        "4___Over 65" : 4,
        "3___45-65" : 3,
        "2___30-45" : 2,
        "1___Less than 30" : 1
}
df["Age"]=df["Age"].replace(mapping)


mapping = {
        "3___More than 5 years" : 3,
        "2___2-5 years" : 2,
        "1___Less than 2 years" : 1
}
df["Beekeep_for"]=df["Beekeep_for"].replace(mapping)


mapping = {
        '1___Less than 51 colonies' : 1, 
        '2___51 - 100' : 2,
        '3___101 - 150' : 3, 
        '4___151 - 200' : 4,
        '5___201 - 300' : 5,
        '6___More than 300 colonies' : 6 
}
df["Bee_population_size"]=df["Bee_population_size"].replace(mapping)


mapping = {
        '1__No Mortality' : 1, 
        '2__1 - 5 %' : 2,
        '3__6 - 10 %' : 3, 
        '4__11 - 20 %' : 4, 
        '5__21 - 50 %' : 5,
        '6__More than 51%' : 6
}
df["Winter_Mortality_Class"]=df["Winter_Mortality_Class"].replace(mapping)


# les numéros matchent les id de la BD
mapping = {
        "Part_time" : 2,
        "Hobby" : 1,
        "Professional" : 3
}
df["Activity"]=df["Activity"].replace(mapping)


# les numéros matchent les id de la BD
mapping = {
        "A. m. mellifera" : 1,
        "A. m. ccm" : 2,
        "A. m. carnica" : 3,
        "Hybrid" : 4,
        "Buckfast" : 5,
        "A. m. ligustica" : 6,
        "Local bees" : 7
}
df["Breed"]=df["Breed"].replace(mapping)


mapping = {
        "Yes" : 1,
        "No" : 0
}
df["Qualif"]=df["Qualif"].replace(mapping)
df["Training"]=df["Training"].replace(mapping)
df["Coop_treat"]=df["Coop_treat"].replace(mapping)
df["Chronic_Depop"]=df["Chronic_Depop"].replace(mapping)
df["VarroaMites"]=df["VarroaMites"].replace(mapping)


mapping = {
        "Suffering" : 1,
        "Not_Suffering" : 0
}
df["VarroosisV2"]=df["VarroosisV2"].replace(mapping)
df["ChronicParalysisV2"]=df["ChronicParalysisV2"].replace(mapping)
df["AmericanFoulbroodV2"]=df["AmericanFoulbroodV2"].replace(mapping)
df["NosemosisV2"]=df["NosemosisV2"].replace(mapping)
df["EuropeanFoulbroodV2"]=df["EuropeanFoulbroodV2"].replace(mapping)


mapping = {
        31 : 1 ,
        32 : 2,
        33 : 3,
        34 : 4,
        35 : 5,
        23 : 6
}

In [36]:
bdd_1000 = open('requeteBDD1000.sql', 'w') # injection des 900 lignes suivants les 100 premièresb

In [35]:
bdd_100 = open('requeteBDD100.sql', 'w') # injection des 100 premières lignes

In [37]:
bdd_1500 = open('requeteBDD1500.sql', 'w') # injection des 500 lignes suivant les 1000 premières

REQUETES SQL D'ALIMENTATION DES TABLES :

100 premières lignes :

In [38]:
cpt = 0
for row in df.itertuples() :
    if cpt<100 :
        
        bdd_100.write('INSERT INTO `IGI-3014-CLARET`.BEEKEEPER (`Country`, `Cooperative_treatment`, `Training`, `Qualification`, `FK_Experience`, `FK_Activity`, `Age`, `id_api`) VALUES')
        bdd_100.write("('{}', {}, {}, {}, {}, {}, {}, '{}');".format (row.Country, row.Coop_treat, row.Training, row.Qualif, row.Beekeep_for, row.Activity, row.Age, row.ID_api))
        bdd_100.write('INSERT INTO `IGI-3014-CLARET`.VISIT (`Period`, `FK_Beekeeper`) VALUES')
        bdd_100.write("('V2', (SELECT MAX(id_Beekeeper) FROM BEEKEEPER));")
        bdd_100.write('INSERT INTO `IGI-3014-CLARET`.BEE_POPULATION (`Chronic_Depopulation`, `Bee_population_size`, `Winter_mortality_class`, `FK_Breed`, `FK_Beekeeper`) VALUES')
        bdd_100.write("({}, {}, {}, {}, (SELECT MAX(id_Beekeeper) FROM BEEKEEPER));".format(row.Chronic_Depop, row.Bee_population_size, row.Winter_Mortality_Class, row.Breed))
        for each in mapping :
            bdd_100.write('INSERT INTO `IGI-3014-CLARET`.JT_OBSERVATION (`FK_Disease`, `FK_Visit`, `Suffering`) VALUES')
            bdd_100.write("({}, (SELECT MAX(id_Visit) FROM VISIT), {});".format(mapping[each], row[each]))
            
    cpt+=1

In [39]:
bdd_100.close()

1000 premières lignes :

In [40]:
cpt = 0
for row in df.itertuples() :
    if ((cpt>100) and (cpt<1000)) :
        
        bdd_1000.write('INSERT INTO `IGI-3014-CLARET`.BEEKEEPER (`Country`, `Cooperative_treatment`, `Training`, `Qualification`, `FK_Experience`, `FK_Activity`, `Age`, `id_api`) VALUES')
        bdd_1000.write("('{}', {}, {}, {}, {}, {}, {}, '{}');".format (row.Country, row.Coop_treat, row.Training, row.Qualif, row.Beekeep_for, row.Activity, row.Age, row.ID_api))
        bdd_1000.write('INSERT INTO `IGI-3014-CLARET`.VISIT (`Period`, `FK_Beekeeper`) VALUES')
        bdd_1000.write("('V2', (SELECT MAX(id_Beekeeper) FROM BEEKEEPER));")
        bdd_1000.write('INSERT INTO `IGI-3014-CLARET`.BEE_POPULATION (`Chronic_Depopulation`, `Bee_population_size`, `Winter_mortality_class`, `FK_Breed`, `FK_Beekeeper`) VALUES')
        bdd_1000.write("({}, {}, {}, {}, (SELECT MAX(id_Beekeeper) FROM BEEKEEPER));".format(row.Chronic_Depop, row.Bee_population_size, row.Winter_Mortality_Class, row.Breed))
        for each in mapping :
            bdd_1000.write('INSERT INTO `IGI-3014-CLARET`.JT_OBSERVATION (`FK_Disease`, `FK_Visit`, `Suffering`) VALUES')
            bdd_1000.write("({}, (SELECT MAX(id_Visit) FROM VISIT), {});".format(mapping[each], row[each]))
            
    cpt+=1

In [41]:
bdd_1000.close()

2000 premières lignes :

In [42]:
cpt = 0
for row in df.itertuples() :
    if ((cpt>=1000) and (cpt<1500)) :
        
        bdd_1500.write('INSERT INTO `IGI-3014-CLARET`.BEEKEEPER (`Country`, `Cooperative_treatment`, `Training`, `Qualification`, `FK_Experience`, `FK_Activity`, `Age`, `id_api`) VALUES')
        bdd_1500.write("('{}', {}, {}, {}, {}, {}, {}, '{}');".format (row.Country, row.Coop_treat, row.Training, row.Qualif, row.Beekeep_for, row.Activity, row.Age, row.ID_api))
        bdd_1500.write('INSERT INTO `IGI-3014-CLARET`.VISIT (`Period`, `FK_Beekeeper`) VALUES')
        bdd_1500.write("('V2', (SELECT MAX(id_Beekeeper) FROM BEEKEEPER));")
        bdd_1500.write('INSERT INTO `IGI-3014-CLARET`.BEE_POPULATION (`Chronic_Depopulation`, `Bee_population_size`, `Winter_mortality_class`, `FK_Breed`, `FK_Beekeeper`) VALUES')
        bdd_1500.write("({}, {}, {}, {}, (SELECT MAX(id_Beekeeper) FROM BEEKEEPER));".format(row.Chronic_Depop, row.Bee_population_size, row.Winter_Mortality_Class, row.Breed))
        for each in mapping :
            bdd_1500.write('INSERT INTO `IGI-3014-CLARET`.JT_OBSERVATION (`FK_Disease`, `FK_Visit`, `Suffering`) VALUES')
            bdd_1500.write("({}, (SELECT MAX(id_Visit) FROM VISIT), {});".format(mapping[each], row[each]))
            
    cpt+=1

In [43]:
bdd_1500.close()